// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Space+Mono:wght@400;700&display=swap');

// Import local fonts
@font-face {
    font-family: 'Ginto Nord';
    src: url('GintoNord-Medium.woff2') format('woff2'),
          url('GintoNord-Medium.woff') format('woff'),
          url('GintoNord-Light.woff2') format('woff2'),
          url('GintoNord-Light.woff') format('woff');
    font-weight: 300;
    font-weight: 500;
    font-style: normal;
}

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica Neue", "sans-serif";
$headers-font: "Nunito", "Helvetica Neue", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
