.container-img{
  margin-right: auto;
  margin-left: auto;
}

.container-actions {

  justify-content: space-between;
}

 .border-radius-10 {
  border-radius: 10px;
 }


.black {
  color: black !important;
}
