
  <!-- <h3 >Heureux de vous revoir parmi nous <%= current_user.first_name %> !</h3> -->

<div>
  <%= render 'shared/transactions' %>
</div>

<div>
  <%= render 'shared/grille' , pieces: current_user.pieces%>
</div>
<div>
  <%= render 'shared/grille' , pieces: @pieces%>
</div>


