<h1>vous êtes bien loggé <%= current_user.first_name %> !</h1>

<div class="container">

  <h1>Dasboard</h1>
  <%= render 'shared/transactions' %>

</div>

<%= link_to "voir toutes les pièces", pieces_path %>
<br>
<%= link_to "ajouter une piece", new_piece_path %>

