<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/francois0690/art2heart"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Toute l'équipe d'Art2Hearth vous remercie de votre visite et de votre patience <i class="fas fa-heart"></i>
  </div>
</div>
