<div class="d-flex flex-column title border border-dark rounded-lg mt-5 p-3">
  <h1 class="mx-auto display-3 pt-3">Art2heart</h1>
  <h3 class="mx-auto pb-3">Le site qui vous permet d'acceder aux  <mark>plus belles oeuvre d'art</mark></h3>
</div>

