
 .gauche {

margin-top: 16px;
display: flex;
justify-content: flex-start;
width: 100%;
background-color: rgba(250,250,250,.9);
}

.droite {
      flex-grow: 1;
      background-color: rgba(250,250,250,.9);
      border-radius: 4px;
      margin-left: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,.3);
      padding: 20px 16px;
      border-radius: 5px;

      h3 {
        color: black;
        font-size: 20px;
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        margin-bottom: 8px;
        }

        p {
        color: black;
        font-size: 16px;
        margin: 0;

      }
    }

.transactions {
  width: 80%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  h1 {
  color: black;
  font-size: 20px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  margin-bottom: 8px;
  }

  h3 {
  color: black;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  }
}

.transaction {

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-bottom: 5px;
  height: 130px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  }

  .transaction:hover {
    transform:scale(1.02);
  }

.transaction h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.transaction p {
  color: white;
  font-size: 16px;
  margin: 0;
  opacity: 1;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.transaction a {

  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:100%;
  // text-decoration: none;

}

.transaction .card-trip-infos {
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }

  .card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
  opacity: 1;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }




