.transaction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.transaction-card {
  background-size: cover;
  background-position: center;
  height: 240px;
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(255,255,255,0.3);
  padding: 0px 16px;
  transition: all 0.5s ease;
  opacity: 0.8;

  // p {
  //   color: white;
  //   font-size: 20px;
  //   font-weight: lighter;
  //   opacity: 0;
  //   transition: all .2s ease;
  // }

  // h2 {
  //   color: white;
  //   font-size: 36px;
  //   font-weight: bold;
  //   text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  // }

  // a {
  // position:absolute;
  // top:0;
  // bottom:0;
  // right:0;
  // width:100%;
  // // opacity:0;
  // }

}

.transaction-card:hover {
  opacity: 1;
  transform:scale(1.05);
  // p {
  //   opacity: 1;
  // }
}


