.grille {

  width: 100%;
  margin-top: 12px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  background-color: rgba(250,250,250,.7);

 h1 {
  color: black;
  font-size: 20px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  margin-bottom: 16px;
  }

  h3 {
  color: black;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  }

 a {
    color:black;
  }

}

.oeuvres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;

  a {
  text-decoration: none;
  }

}



.oeuvre {

  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  background-color: rgba(250,250,250,.7);

  background-size: cover;
  background-position: center;
  height: 170px;

  padding: 32px 16px;
  opacity: 1;
  transition: all 0.5s ease;


  // padding: 16px;
  text-align: center;
  // margin: auto 0;
  h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }

   p {
    color: white;
    font-size: 16px;
    margin: 0;
    opacity: 1;
    text-shadow: 2px 2px 3px rgba(100,100,100,0.5);
    margin-bottom: 8px;
    }


 h3 {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    }


}

.oeuvre:hover {
    transform:scale(1.02);
  }

