.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  box-shadow: 5px 0 10px rgba(0,0,0,0.25);
  height: 90px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50px;
}

.navbar-lewagon h2 {

  text-align: center;
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.navbar-lewagon p {
text-align: center;
  color: black;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  opacity: 0.8;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);

  border-bottom: 1px solid rgba(50,50,50,0.6);
  // margin-top: 8px;
}

.navbar-lewagon a {
  text-decoration: none;



    position: relative;
    // padding: 1rem 0 0.5rem;
    // margin: 0 1.5rem;
    // color: white;
    // text-decoration: none;
    // // text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.8);
        transition: transform 250ms;
    }

    &:hover {

        &::after {
            transform: translateX(-50%) scaleX(1);
        }

    }





}
