// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import 'flatpickr/dist/flatpickr.css';
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/form";
@import "users/dashboard";
@import "pieces/show";
@import "transactions/show";
@import "components/logo";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Space+Mono:wght@400;700&display=swap');


body {
    background-image: linear-gradient(rgba(200, 200, 200, 0.7), rgba(0, 0, 0, 0.1)), asset_url('back6.jpg');
    // backdrop-filter: blur(2px);
    background-size: cover;
    background-attachment: fixed;

}

.my-container {
    margin: 0 auto;
    width: 1300px;
}

@media (max-width: 1200px) {
    /* For a screen < 960px, this CSS will be read */
    .my-container {
        width: 800px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .my-container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .my-container {
        width: 300px;
    }
}
