// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "users/dashboard";
@import "pieces/show";


body {
  // background-color: black;
  // height: 100vh;
  background-image: linear-gradient(rgba(200,200,200,0.1), rgba(200,200,200,0.3)), asset_url('back6.jpg');
  background-size: cover;
  background-attachment: fixed;
  // background-position: center;


}
