<h2>pièce : <%= @piece.name %></h2>
<p>propriétaire : <%= "#{@piece.owner.first_name} #{@piece.owner.last_name}"%></p>
  <%= render "form", transaction: @transaction, piece: @piece %>
<br>


<div class="flex d-flex justify-content-center mt-5 ">
<%= link_to "retour", piece_path(@piece), class: "btn btn-lg btn-ghost" %>
</div>
