// SCSS pour Dashboard
.container>h3 {
    font-size: 20px;
    // background-color: white;
    font-weight: lighter;
    margin: 8px 0px;
    // text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    // color: #333;
    opacity: 0.8;
    color: black;

    border-bottom: 4px solid transparent;
    background-color: rgba(122, 122, 122, 0);
    border-bottom: 1px solid #555555;
}

.nav-pills .nav-link {
    text-transform: capitalize;
    background-color: rgba(122, 122, 122, 0);
    // color: rgb(122, 122, 122);

    transition: opacity 0.5s ease;
    opacity: 0.6;
    color: black;
    &:hover,
    &:focus {
        // color: #333;
        opacity: 1;
        color: black;



    }
}
